.profile__profession {
  margin: 0 0 36px;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .profile__profession {
    font-size: 18px;
    line-height: 1.22;
    text-align: left;
    margin: 0;
  }
}
