.profile {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  background-color: #000;
  padding: 38px 0 36px;
}

@media (min-width: 768px) {
  .profile {
    padding: 36px 0 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
