.profile__button {
  width: 282px;
  padding: 15px;
  text-align: center;
  background-color: #000;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .profile__button {
    width: 150px;
    padding: 12px 62px;
    margin-left: 0;
    margin-right: 0;
  }
}
