.profile__avatar-button {
  all: unset;
  line-height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, background 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .profile__avatar-button:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
  }
}
