.profile__photo {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .profile__photo {
    margin-left: 0;
    margin-right: 30px;
  }
}
